/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config file for defining DSL2 per module options and publishing paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Available keys to override module options:
        ext.args   = Additional arguments appended to command in module.
        ext.args2  = Second set of arguments appended to command in module (multi-tool modules).
        ext.args3  = Third set of arguments appended to command in module (multi-tool modules).
        ext.prefix = File name prefix for output files.
----------------------------------------------------------------------------------------
*/

process {

    publishDir = [
        path: { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" },
        mode: params.publish_dir_mode,
        saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
    ]

    withName: SAMPLESHEET_CHECK {
        publishDir = [
            path: { "${params.outdir}/pipeline_info" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: FAST5_TO_POD5 {
        publishDir = [
            enabled: false
            ]
    }

    withName: DORADO_BASECALLER {
        publishDir = [
            enabled: false
            ]
    }

    withName: MERGE_BASECALL_ID {
        publishDir = [
            enabled: false
            ]
    }

    withName: DORADO_BASECALL_SUMMARY {
        publishDir = [
            enabled: false
            ]
    }

    withName: PYCOQC {
        publishDir = [
            path: { "${params.outdir}/samples/${meta.sample}/qc/pycoqc" },
            pattern:  "*.{html,json}",
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
            ]
    }

    withName: MERGE_BASECALL_SAMPLE {
        publishDir = [
            enabled: false
            ]
    }

    withName: DORADO_ALIGNER {
        publishDir = [
            enabled: false
            ]
    }

    withName: SAMTOOLS_SORT {
        publishDir = [
            path: { "${params.outdir}/samples/${meta.sample}/dorado_aligner/" },
            pattern:  "*.{bam,bai}",
            mode: params.publish_dir_mode
            ]
    }

    withName: PEPPER {
        publishDir = [
            path: { "${params.outdir}/samples/${meta.sample}/pepper/vcf/" },
            pattern:  "*.vcf*",
            mode: params.publish_dir_mode
            ]
    }

    withName: SAMTOOLS_INDEX {
        publishDir =
            [
            path: { "${params.outdir}/samples/${meta.sample}/pepper/haplotagged_bam/" },
            pattern:  "*.{haplotagged.bam,haplotagged.bam.bai}",
            mode: params.publish_dir_mode
            ]
    }

    withName: MOSDEPTH {
        publishDir = [
            path: { "${params.outdir}/samples/${meta.sample}/qc/mosdepth/" },
            pattern:  "*{mosdepth,bed}*",
            mode: params.publish_dir_mode
            ]
    }

    withName: MODKIT {
        publishDir = [
            [
            path: { "${params.outdir}/samples/${meta.sample}/methylation_calls" },
            pattern:  "**/*.bed",
            mode: params.publish_dir_mode
            ]
        ]
    }



    withName: CUSTOM_DUMPSOFTWAREVERSIONS {
        publishDir = [
            path: { "${params.outdir}/pipeline_info" },
            mode: params.publish_dir_mode,
            pattern: '*_versions.yml'
        ]
    }

    withName: MULTIQC {
        publishDir = [
            path: { "${params.outdir}/multiqc" },
            mode: params.publish_dir_mode,
            pattern: '*'
        ]
    }

}
